<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Get help on the byography at the
	<a href="http://en.wikipedia.org/wiki/Main_Page">wiki main page</a>.
	To get information about films, visit this page
	<a href="http://www.seanconnery.com/filmography/"> filmography </a>.
</p>

